* {
    margin: 0;
    box-sizing: border-box;
}

.general {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.cart {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #d6f1fd;
    border: 2px solid #ffffff;
}

.cart:hover {
    background-color: #ffffff;
    border: 2px solid #d6f1fd;
}

.cart-buy {
    display: flex;
    align-items: center;
}

.description {
    width: 80%;
}

img {
    width: 200px;
    height: 200px;
}

.price {
    color: #e36161;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

button {
    width: 120px;
    height: 30px;
    margin-left: 20px;
    background-color: #e36161;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

.btn-del {
    display: flex;
    justify-content: space-between;
    height: 70px;
    flex-direction: column;
    margin: 15px 0 30px 0;
    width: 100%;
}

.del {
    background-color: #d71919;
    font-weight: bold;
}

.counter {
    max-width: 274px;
    border: 2px solid #d71919;
}

.count-btn {
    margin: 10px 0 10px 0;
    width: 135px;
}

.count-btn-low {
    margin: 0 0 10px 0;
    width: 90px;
}

.count {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #d71919;
}