* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.task {
    border: 2px solid black;
    margin: 0 2px 10px 2px;
    padding-left: 5px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: aliceblue;
    height: 100px;
}

.textbtn {
    background-color: #00b9ff;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
}

#input-age {
    width: 150px;
}

#menu {
    background-color: aliceblue;
}

.menu-list {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 110px;
}

.menu-item {
    padding-left: 10px;
    list-style: none;
}

.menu-btn {
    width: 65px;
    height: 20px;
    background-color: inherit;
}

.menu-btn:focus {
    outline: none;
}

.image {
    width: 300px;
    height: 300px;
}


.img2, .img3, .img4 {
    display: none;
}